# Copy to .env for local development: cp .env.example .env
SITE_URL=http://localhost:3000
SITE_ENV=development
DATABASE_URL=postgres://mk:mk@localhost:5432/mk_dev

# Test databases (created by docker/postgres/init)
DATABASE_URL_TEST=postgres://mk:mk@localhost:5432/mk_test
DATABASE_URL_E2E=postgres://mk:mk@localhost:5432/mk_e2e
